export_*
groupReassign.json
Postanalysis/*.txt
validation_merged_list.tsv
.myconf.json
.myGeneYXConf.yml
mySampleList.txt
*.pyc
testSingleSamples.csv
local_get_geneYXList.sh
local_send_excel.sh
.nextflow.log*
Postanalysis/*log*
Postanalysis/.nextflow/*
*.log
J-*.out
*_error.json
*.xlsx