numpy==2.2.2
certifi==2025.10.5
charset_normalizer==3.4.4
click==8.3.1
coloredlogs==15.0.1
Cython==3.2.2
cyvcf2==0.31.1
humanfriendly==10.0
idna==3.11
joblib==1.5.2
networkx==3.6
-e git+https://github.com/brentp/peddy@ea41f208838cc8a50865651d1bae3f96f49192b8#egg=peddy
PyYAML==6.0.2
requests==2.32.5
scikit_learn==1.7.1
seaborn==0.13.2
threadpoolctl==3.6.0
toolshed==0.4.6
urllib3==2.5.0
